{% extends 'base_layout/base.html' %}

{% block nav_links %}
<ul class="navbar-nav flex-row me-3 ms-auto">
    <li class="nav-item me-3">
        <a class="nav-link text-light text-decoration-none" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item me-3">
        <a class="nav-link text-light text-decoration-none" href="{% url 'all_notices' %}">View Notices</a>
    </li>
</ul>
{% endblock %}

{% block logout_link %}
<a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block content %}
{% for notice in notices %}
<div class="card text-white mb-3 shadow-lg" style="width: 65%" id="card">
    <div class="card-body">
        <h5 class="card-title text-primary fw-bold">{{ notice.title }}</h5>
        <h6 class="card-subtitle mb-2 text-dark">{{ notice.organization }}</h6>
        <h6 class="card-subtitle mb-4 text-dark">{{ notice.schedule }}</h6>
        <p class="card-text text-black">{{ notice.description|linebreaksbr|truncatechars:200 }}</p>
        <a href="{% url 'view_notice' notice.id %}" class="card-link">View for more Details</a>
    </div>
</div>
{% endfor %}
{% endblock %}
