{% extends 'base_layout/base.html' %}

{% block nav_links %}
<ul class="navbar-nav flex-row me-3 ms-auto">
    <li class="nav-item me-3">
        <a class="nav-link text-light text-decoration-none" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item me-3">
        <a class="nav-link text-light text-decoration-none" href="{% url 'all_notices' %}">View Notices</a>
    </li>
</ul>
{% endblock %}

{% block logout_link %}
<a class="nav-link text-light" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block content %}
<h1>Hello, {{ request.user.name }}</h1>

{% if request.user.is_president %}
<a href="{% url 'add_notice' %}" class="btn btn-primary">
    <i class="fas fa-plus"></i> Add New Notice
</a>
{% endif %}
{% endblock %}
